<div class="container-fluid">
    <h2 class="text-center p-2">Weather details</h2>
  <div class="form m-5">
    <form [formGroup] = 'searchForm' (ngSubmit) = "search()">
        <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search city"
              aria-label="city"
              formControlName="city"
              name="city"
              />
            <button
              class="btn btn-outline-primary" [disabled] = "!searchForm.valid"
              type="submit"
            >
              Search 
            </button>
          </div>
          <div class="invalid-data" *ngIf="errorOccured">No data available!!!</div>
    </form>
  </div>
  <div class="row results" *ngIf="cityArray.length > 0">
    <div class="col-3 list p-2">
        <div class="card" *ngFor="let item of cityArray; let i = index">
            <div class="card-body city-list">
              <span tabIndex="0" role="button" class="city-link" (click)="getSelectedCityWeather(item)" (keyup)="getSelectedCityWeather(item)">{{item.key}}</span>
              <img src="assets/images/trash.svg" alt="remove" class="trash-icon" (click)="removeCity(item.key, 'remove')" (keyup)="getSelectedCityWeather(item)" />
            </div>
          </div>
    </div>
    <div class="col-9 content">
      <div class="card text-white bg-primary m-4 main-block">
        <div class="card-header text-center">
          <h2>{{weatherData.name}}</h2>
          <h6>{{weatherData.main.temp}} °C</h6>
          <p><img src="https://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}@2x.png" alt="weather image"/></p>
        </div>

        <div class="weather-data">
            <p>Feels like: {{weatherData.main.feels_like}} °C</p>
            <p>Pressure: {{weatherData.main.pressure}}</p>
            <p >Humidity: {{weatherData.main.humidity}} %</p>
            <p>Visibility: {{weatherData.visibility}} m</p>
          </div>
        
      </div>
    </div>
  </div>
</div>
